---
import Partner from "@components/Partner.astro";

class PartnerImg {
    constructor(
        public src: ImageMetadata,
        public alt: string,
        public url: string,
    ) {}
}

import googleImg from "../../images/partners/google-white.png";
import onethousandImg from "../../images/partners/onethousand.png";
import technisatImg from "../../images/partners/technisat.png";

const partners = [
    new PartnerImg(googleImg, "Google", "https://www.google.com/"),
    new PartnerImg(
        onethousandImg,
        "One Thousand",
        "https://onethousand.ai/",
    ),
    new PartnerImg(
        technisatImg,
        "TechniSat",
        "https://www.technisat.com/",
    ),
];
---

<div id="partners" class="sm:my-40 text-center">
  <h2
    class="font-semibold text-3xl sm:text-5xl text-transparent bg-clip-text bg-red-right font-bold"
  >
    Partners
  </h2>

  <div class="mt-6 flex flex-wrap justify-center items-center max-w-full md:max-w-[75%] mx-auto">
      {
          partners.map((partner) => (
              <Partner
                  src={partner.src}
                  alt={partner.alt}
                  url={partner.url}
              />
          ))
      }
  </div>
</div>
