---
export const prerender = true;
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="0;url=https://bliss-e-v.github.io/SCAM-project-page/">
    <title>Redirecting to the SCAM project page...</title>
</head>
<body>
    <p>If you are not redirected automatically, <a href="https://bliss-e-v.github.io/SCAM-project-page/">click here</a>.</p>
    
    <script>
        // Immediate client-side redirect
        window.location.href = "https://bliss-e-v.github.io/SCAM-project-page/";
    </script>
</body>
</html>