---
// Import the necessary components or types
import type { Event } from "../data/event";
import { NewsHeadline } from "./NewsHeadline";

interface Props {
  event: Event;
}

// Define the props that this Astro component accepts
const { event } = Astro.props as Props;
---

<tr class="cursor-pointer border-y-dark" onclick=`window.open("${event.url}");`>
    <td class="p-2 w-[33%]">
      <div class="text-secondar text-nowrap">
          {
            event.date.toLocaleString("en-US", {
              year: "numeric",
              month: "long",
              day: "numeric",
            })
          }
      </div>
      <div class="w-full bliss-red">
        <a href={event.url} class="no-underline bliss-red" onclick="event.stopPropagation()">
            <NewsHeadline id="title" level={3} className="text-xl font-medium leading-snug bliss-red">
                {event.title}
            </NewsHeadline> 
        </a>
      </div>
    </td>
    <td class="p-2">
        <div>
            {event.description}
        </div>
    </td>
</tr>

<style>
  .group:hover {
    background-color: rgba(203, 45, 62, 0.25);
  }
</style>
