---

---

<div class="w-full pt-16 pb-10 font-light leading-relaxed text-secondary">
  <div class="container text-center">
    <p class="font-extralight">
      Say Hello
      <a href="mailto:mail@bliss.berlin" class="font-medium text-primary"
        >mail@bliss.berlin</a
      >.
    </p>
    <p class="mt-5 text-sm text-tertiary font-extralight">
      &copy; Bliss e.V., 2025
    </p>
  </div>
</div>
