---
const { title } = Astro.props;
---

<div class="w-full mt-10 text-center">
    <span class="text-3xl bliss-red font-bold">
        BLISS
    </span>
    <span class="text-3xl mt-2 text-secondary">{title}</span>
</div>