---
import MiniCard from "./MiniCard.astro";
import { Event } from "@components/data/event";
import { NewsHeadline } from "./NewsHeadline";

interface Props {
    events: Event[];
}

const { events } = Astro.props as Props;
---

<div class="p-4 md:p-0 w-full">
    <div class="w-full mb-4">
        <NewsHeadline id="title" level={1} className="md:text-4xl">
            Upcoming Events
        </NewsHeadline>
        <div class="text-secondary text-sm">Click the event for more information</div>
    </div>
    <table class="w-full table-auto border-collapse">
        <tbody>
            {
                events.map((event) => {
                    return (
                        <MiniCard
                            event={event}
                        />
                    );
                })
            }
        </tbody>
    </table>
</div>
