---
export const prerender = true;

import Layout from "../layouts/Layout.astro";
import BLISSathonHeader from "@components/hackathon/Header.astro";
import BLISSathonFeatures from "@components/hackathon/Features.astro";
import BLISSathonSchedule from "@components/hackathon/Schedule.astro";
import ThreeScence2 from "@components/ThreeScence-2.astro";
import BLISSathonPartners from "@components/hackathon/Partners.astro";
import BLISSathonFAQ from "@components/hackathon/FAQ.astro";
---

<Layout
  title="BLISS - BLISSathon 2025 @Google"
  description="BLISSathon 2025 Machine Learning Hackathon at Google in Berlin"
>
  <main>
    <ThreeScence2 />
    <BLISSathonHeader />
    <BLISSathonFeatures />
    <BLISSathonSchedule />
    <BLISSathonFAQ />
    <BLISSathonPartners />
  </main>
</Layout>
