---
export const prerender = true;

import Layout from "../layouts/Layout.astro";
import BLISSathonHeader from "@components/hackathon/Header.astro";
import BLISSathonFeatures from "@components/hackathon/Features.astro";
import BLISSathonSchedule from "@components/hackathon/Schedule.astro";
import ThreeScence2 from "@components/ThreeScence-2.astro";
import BLISSathonPartners from "@components/hackathon/Partners.astro";
import BLISSathonFAQ from "@components/hackathon/FAQ.astro";
import Breadcrumb from "@components/Breadcrumb.astro";
---

<Layout
  title="BLISSathon 2025 @ Google | AI Hackathon in Berlin"
  description="Join BLISSathon 2025, Berlin's premier machine learning hackathon at Google on March 31, 2025. Compete for a €1500 prize pool, enjoy free food and drinks, and connect with the AI community. Register now for this exciting 1-day challenge hosted by BLISS Berlin."
  ogImage="https://www.bliss.berlin/assets/hackathon.gif"
>
  <main>
    <ThreeScence2 />
    <Breadcrumb 
      crumbs={[
        { name: "BLISSathon 2025", href: "/blissathon" }
      ]}
    />
    <BLISSathonHeader />
    <BLISSathonFeatures />
    <BLISSathonSchedule />
    <BLISSathonFAQ />
    <BLISSathonPartners />
  </main>
</Layout>
