---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Impressum"
  description="Impressum und rechtliche Angaben der BLISS e.V. - Berlin Learning & Intelligent Systems Society"
>
  <article class="max-w-4xl mx-auto">
    <h1>Impressum</h1>

    <p class="text-sm text-tertiary italic mb-4">
      <a href="/imprint">English version available</a>
    </p>

    <p>
      <strong>Berlin Learning and Intelligent Systems Society e. V.</strong><br><br>

      <strong>Registereintrag:</strong><br>
      Registergericht: Amtsgericht Charlottenburg<br>
      Registernummer: VR 40200 B<br>
      <br>
      <strong>Vertreten durch den Vorstand:</strong><br>
      Tom Neuhäuser - 1. Vorsitzender<br>
      Marvin Beese - 2. Vorsitzender<br>
      Lorenz Hufe - Vorstand für Finanzen<br>
      Leo Pinetzki - Vorstandsmitglied<br>
      (jeweils einzelvertretungsberechtigt)<br>
      <br>
      <strong>Kontakt:</strong><br>
      E-Mail: <a href="mailto:legal@bliss.berlin">legal@bliss.berlin</a>
      <!-- TODO: Add address here -->
    </p>

    <hr>
    <p class="text-sm text-tertiary">
      Stand: Oktober 2025
    </p>
  </article>
</Layout>
