---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Imprint"
  description="Imprint and legal information of BLISS e.V. - Berlin Learning & Intelligent Systems Society"
>
  <article class="max-w-4xl mx-auto">
    <h1>Imprint</h1>

    <p class="text-sm text-tertiary italic mb-4">
      This is the English translation of the imprint. 
      The legally binding version is the <a href="/impressum">German one</a>.
    </p>

    <p>
      <strong>Berlin Learning and Intelligent Systems Society e. V.</strong><br><br>

      <strong>Registry entry:</strong><br>
      Registry court: Amtsgericht Charlottenburg (Local Court Berlin-Charlottenburg)<br>
      Registry number: VR 40200 B<br>
      <br>
      <strong>Represented by the Board:</strong><br>
      Tom Neuhäuser - 1st Chairman<br>
      Marvin Beese - 2nd Chairman<br>
      Lorenz Hufe - Treasurer<br>
      Leo Pinetzki - Board Member<br>
      (each individually authorized to represent)<br>
      <br>
      <strong>Contact:</strong><br>
      Email: <a href="mailto:legal@bliss.berlin">legal@bliss.berlin</a>
      <!-- TODO: Add address here -->
    </p>

    <hr>
    <p class="text-sm text-tertiary">
      Last updated: October 2025
    </p>
  </article>
</Layout>
