---
import Layout from "../layouts/Layout.astro";
import BackgroundAnimation from "../components/BackgroundAnimation.astro";
import Landing from "../components/Landing.astro";
import AboutUs from "@components/AboutUs.astro";
import { SpeakerSeries } from "@components/SpeakerSeries";
import Banner from "@components/Banner.astro";
import Flinta from "@components/Flinta.astro";
import Arrow from "@components/Arrow.astro";
---

<Layout
  title="BLISS - Machine Learning student initiative in Berlin"
  description="The AI student initiative in Berlin. We connect people with great interest and passion for the field of machine learning. Weekly Reading Group & Speaker Events."
>
  <main>
    <BackgroundAnimation />
    <Banner />
    <Landing />
    <AboutUs />
    <SpeakerSeries client:idle />
    <Flinta />
    <Arrow />
  </main>
</Layout>
