---
import Layout from "../layouts/Layout.astro";
import BackgroundAnimation from "../components/BackgroundAnimation.astro";
import Landing from "../components/Landing.astro";
import AboutUs from "@components/AboutUs.astro";
import Events from "@components/EventsSection.astro";
import LookingBack from "@components/LookingBackSection.astro";
import Arrow from "@components/Arrow.astro";
import NewsletterLink from "@components/NewsletterLink.astro";
import Partners from "@components/Partners.astro";
import Members from "@components/Members.astro";
import EventCarousel from "@components/EventCarousel.astro";
---

<Layout
  title="BLISS - Berlin Learning & Intelligent Systems Society"
  description="BLISS is Berlin's research-focused AI non-profit organization, connecting passionate individuals in machine learning through weekly reading groups, speaker and diversity events, and hackathons. Join our thriving research ecosystem today."
  ogImage="https://www.bliss.berlin/assets/bliss-banner.png"
>
  <main>
    <BackgroundAnimation />
    <EventCarousel />
    <Landing />
    <Events />
    <LookingBack />
    <AboutUs />
    <Members />
    <Partners />
    <Arrow />
  </main>
</Layout>
