---
import NewsletterLayout from "../layouts/Newsletter.astro";
import Introduction from "@components/newsletter/Introduction.astro";
import Upcoming from "@components/newsletter/Upcoming.astro";
import { Event } from "@components/data/event";
import { JobOffer } from "@components/data/jobOffer";
import JobOfferings from "@components/newsletter/JobOfferings.astro";
import Ending from "@components/newsletter/Ending.astro";

const description = `
    <div>
        <h2 class="text-xl font-semibold mb-4">
            What do these three things have in common?
        </h2>

        <p>
            A fine-tuned YOLO model for a pipe manufacturer, a demand prediction
            engine for a vegetable producer, and a low-latency voice agent for a
            housing company.
        </p>
        <p>
            They're all AI applications we've built in the last few months. If
            you want to work at the cutting edge of applied AI and help
            accelerate Europe's AI transformation, come join us.
        </p>
        <p>
            We work hard, we care deeply about what we build — and we ship.
        </p>
    </div>
`;
---

<NewsletterLayout
    title="BLISS - Machine Learning student initiative in Berlin Newsletter"
    subtitle="End of WiSe 24/25 Newsletter"
>
    <main>
        <Introduction>
            <div class="text-secondary">
                Thank you for an awesome semester with you at <span
                    class="text-primary">BLISS</span
                >! We look forward to see you at the upcoming events next
                semester or at one of the two large events coming up. Our
                <a class="underline" href="https://bliss.berlin/reading-group"
                    >reading group</a
                > will continue on for a few more weeks.
            </div>
            <div class="text-secondary">
                For the reading group, we meet every Monday at 7pm at MAR
                0.0015, Marchstraße 23, 10587 Berlin. The current topic is
                mechanistic interpretability.
            </div>
        </Introduction>
        <Upcoming
            events={[
                new Event(
                    new Date("2025-02-12"),
                    "FLINTA Event",
                    "We want to provide 12 FLINTA* students with valuable networking opportunities and insights from 6 seasoned FLINTA* professionals, while giving professionals a chance to engage with the next generation of AI enthusiasts and foster a more inclusive environment within the AI community of Berlin.",
                    "https://docs.google.com/forms/d/1GcJXYQ3qhXaxssDu-aa7DLt2P3BTAvJBLkK6f9Q1q1g/viewform",
                ),
                new Event(
                    new Date("2025-03-31"),
                    "Hackathon at Google",
                    "We partnered up with Google, Onethousand.ai and TechniSat to bring a 1-day challange with a a price-pool of 1500€, free food and drinks and endless fun. Do not miss out!",
                    "https://www.eventbrite.com/e/blissathon-2025-google-tickets-1226735110739",
                ),
            ]}
        />
        <JobOfferings
            jobOffers={[
                new JobOffer(
                    "Onethousand.ai",
                    "https://raw.githubusercontent.com/Bliss-e-V/webpage/0458296632d1d5c5a91bf99952491edf9902f963/src/images/partners/onethousand_black.jpeg",
                    "https://raw.githubusercontent.com/Bliss-e-V/webpage/5104381e6256adbdf0a55a00903ca4bc368c9ff0/src/images/partners/team_images/onethousand.jpg",
                    description,
                    "https://form.typeform.com/to/mPQHbRMs?typeform-source=onethousand.netlify.app",
                ),
            ]}
        />
        <Ending />
    </main>
</NewsletterLayout>
