---
import NewsletterLayout from "../layouts/Newsletter.astro";
import Introduction from "@components/newsletter/Introduction.astro";
import Upcoming from "@components/newsletter/Upcoming.astro";
import { Event } from "@components/data/event";
import Ending from "@components/newsletter/Ending.astro";
---

<NewsletterLayout
    title="BLISS - Machine Learning in Berlin"
    subtitle="May 2025 Newsletter"
>
    <main>
        <Introduction>
            <div class="text-secondary">
                At <span class="text-primary">BLISS</span> the 2025 summer semester
                is in full swing with the best lineup yet! We also offer a
                <a class="underline" href="https://bliss.berlin/reading-group"
                    >reading group</a
                > on AI in medicine (GNNs will come later this semester) at the <a
                    class="underline"
                    href="https://maps.app.goo.gl/4eqs9zTgEi9E9pbv5"
                    >Merantix AI-Campus</a
                > at 18:45 each Monday.
            </div>
        </Introduction>
        <Upcoming
            events={[
                new Event(
                    new Date("2025-05-06"),
                    "CAPI: Cluster & Predict Latent Patches for Improved Masked Image Modeling",
                    "Timothée Darcet (<strong>Meta AI & Inria</strong>) presents CAPI, a novel masked image modeling framework achieving 83.8% ImageNet accuracy and advancing self-supervised learning.",
                    "https://www.meetup.com/bliss-speaker-series/events/306121112/",
                ),
                new Event(
                    new Date("2025-05-20"),
                    "Scalable Emulation of Protein Equilibrium Ensembles with AI",
                    "Dr. Yu Xie (<strong>Microsoft AI4Science</strong>) unveils BioEmu, a generative model that samples protein conformations with <1 kcal/mol accuracy, accelerating mechanistic insights in structural biology.",
                    "https://www.meetup.com/bliss-speaker-series/events/306121117/",
                ),
                new Event(
                    new Date("2025-06-03"),
                    "Watermark Anything with Localized Messages",
                    "Dr. Pierre Fernandez (<strong>Meta AI</strong>) introduces Watermark Anything (ICLR ’25), reframing invisible watermarking as segmentation to robustly protect images under real-world edits.",
                    "https://www.meetup.com/bliss-speaker-series/events/306121121/",
                ),
            ]}
        />
        <Ending />
    </main>
</NewsletterLayout>
