---
import NewsletterLayout from "../layouts/Newsletter.astro";
import Introduction from "@components/newsletter/Introduction.astro";
import Upcoming from "@components/newsletter/Upcoming.astro";
import { Event } from "@components/data/event";
import Ending from "@components/newsletter/Ending.astro";
---

<NewsletterLayout
    title="BLISS - Machine Learning student initiative in Berlin Newsletter"
    subtitle="Janurary 2025 Newsletter"
>
    <main>
        <Introduction>
            <div class="text-secondary">
                At <span class="text-primary">BLISS</span>, we’re in slowly
                approaching the end of the semester with our ongoing
                <a
                    class="underline"
                    href="https://www.meetup.com/bliss-speaker-series/?eventOrigin=newsletter"
                    >speaker series</a
                >,
                <a
                    class="underline"
                    href="https://www.meetup.com/bliss-speaker-series/?eventOrigin=newsletter"
                    >community events</a
                >, and <a
                    class="underline"
                    href="https://bliss.berlin/reading-group">reading group</a
                >.
            </div>
            <div class="text-secondary">
                For the reading group, we meet every Monday at 7pm at MAR
                0.0015, Marchstraße 23, 10587 Berlin. The current topic is
                mechanistic interpretability.
            </div>
        </Introduction>
        <Upcoming
            events={[
                new Event(
                    new Date("2025-01-07"),
                    "Making AI fit for the Life Sciences",
                    "Prof. Katharina Baum from Freie Universität Berlin will explore how AI can be tailored to meet the challenges of the life sciences, with a focus on informing machine learning models and explaining uncertainty.",
                    "https://www.meetup.com/bliss-speaker-series/events/303354557/?eventOrigin=newsletter",
                ),
                new Event(
                    new Date("2025-01-21"),
                    "Learning Physical Laws from Data",
                    "Prof. Sven Wang, an assistant professor at Humboldt University Berlin, will discuss how data-driven approaches can uncover underlying physical laws, bridging the gap between empirical data and theoretical physics.",
                    "https://www.meetup.com/bliss-speaker-series/events/303354565/?eventOrigin=newsletter",
                ),
                new Event(
                    new Date("2025-02-04"),
                    "The Science of Decision-Making",
                    "Prof. Sanaz Mostaghim, a full professor of computer science at Otto von Guericke University Magdeburg and director of the Fraunhofer Institute for Transportation and Infrastructure Systems, will delve into the complexities of decision-making processes, emphasizing multi-objective optimization and human-centric decision support systems.",
                    "https://www.meetup.com/bliss-speaker-series/events/303354572/?eventOrigin=newsletter",
                ),
            ]}
        />
        <Ending />
    </main>
</NewsletterLayout>
