---
import NewsletterLayout from "../layouts/Newsletter.astro";
import Introduction from "@components/newsletter/Introduction.astro";
import Upcoming from "@components/newsletter/Upcoming.astro";
import {Event} from "@components/data/event";
import Ending from "@components/newsletter/Ending.astro";
---

<NewsletterLayout
  title="BLISS - Machine Learning student initiative in Berlin Newsletter"
  subtitle="November 2024 Newsletter"
>
  <main>
    <Introduction>
        <div class="text-secondary"> At <span class="text-primary">BLISS</span>, we’re in full swing this semester with our ongoing <a class="underline" href="https://www.meetup.com/bliss-speaker-series/?eventOrigin=newsletter">speaker series</a>, <a class="underline" href="https://www.meetup.com/bliss-speaker-series/?eventOrigin=newsletter">community events</a>, and <a class="underline" href="https://bliss.berlin/reading-group">reading group</a>. </div> <div class="text-secondary"> For the reading group, we meet every Monday at 7pm at MAR 0.0015, Marchstraße 23, 10587 Berlin. From Dec. 16th, the topic will switch from LLMs to mechanistic interpretability.</div> <div class="text-secondary"> As the holiday season approaches, we would like to take a moment to wish you all a joyful Christmas and a wonderful New Year.
    </Introduction>
    <Upcoming events={[
        new Event(
            new Date("2024-12-03"),
            "Sequential and Active Decision Making",
            "This weeks event we host <b>Prof. A. Carpentier</b>, Professor and Chair of Mathematical Statistics and Machine Learning at the <b>University of Potsdam</b>. Afterwards, you can enjoy a chance to connect with fellow AI enthusiasts over drinks and freshly baked waffles.",
            "https://www.meetup.com/bliss-speaker-series/events/303354531/?eventOrigin=newsletter"
        ),
        new Event(
            new Date("2024-12-10"),
            "Christmas Community Event",
            "We plan to go to the <b>Charlottenburg Christmas Market</b> and enjoy the festive atmosphere. Afterwards, we plan to warm up at a near by cafe or bar. ",
            "https://www.meetup.com/bliss-speaker-series/"
        ),
        new Event(
            new Date("2024-12-17"),
            "Combining RL and Gen-Models for Drug Design",
            "This week we are delighted to announce <b>Dr. Nima Siboni and Dr. Miguel Arbesú Andrés</b> two senoir research scientists from <b>InstaDeep</b>. At the end of the talk, you will have time to ask questions and connect and sip hot wine punch.",
            "https://www.meetup.com/bliss-speaker-series/events/303354547/?eventOrigin=newsletter"
        ),
        new Event(
            new Date("2025-01-07"),
            "Making AI fit for the Life Sciences: Informing ML and Explaining Uncertainty",
            "We are exited to host <b>Prof. Katharina Baum</b> from <b>FU Berlin</b> where she is the head of the research group Data Integration in the Life Sciences.",
            "https://www.meetup.com/bliss-speaker-series/events/303354557/?eventOrigin=newsletter"
        )
    ]} />
    <Ending />
  </main>
</Layout>
