---
import NewsletterLayout from "../layouts/Newsletter.astro";
import Introduction from "@components/newsletter/Introduction.astro";
import Upcoming from "@components/newsletter/Upcoming.astro";
import { Event } from "@components/data/event";
import Ending from "@components/newsletter/Ending.astro";
---

<NewsletterLayout
    title="BLISS - Machine Learning in Berlin"
    subtitle="May 2025 Newsletter"
>
    <main>
        <Introduction>
            <div class="text-secondary">
                At <span class="text-primary">BLISS</span> the 2025 summer semester
                is in full swing with the best lineup yet! We also offer a
                <a class="underline" href="https://bliss.berlin/reading-group"
                    >reading group</a
                > on AI in medicine (GNNs will come later this semester) at the <a
                    class="underline"
                    href="https://maps.app.goo.gl/4eqs9zTgEi9E9pbv5"
                    >Merantix AI-Campus</a
                > at 18:45 each Monday.
            </div>
        </Introduction>
        <Upcoming
            events={[
                new Event(
                    new Date("2025-05-06"),
                    "CAPI: Cluster & Predict Latent Patches for Improved Masked Image Modeling",
                    "Join Timothée Darcet, PhD student at <strong>Meta AI & Inria</strong>, for a talk on clustering and predicting latent patches for image modeling. After the talk, connect with fellow AI enthusiasts over free drinks—doors close by 7:15 pm, so please arrive early!",
                    "https://www.meetup.com/bliss-speaker-series/events/306121112/",
                ),
                new Event(
                    new Date("2025-05-20"),
                    "Scalable Emulation of Protein Equilibrium Ensembles with AI",
                    "Join Dr. Yu Xie, Senior Research Scientist at <strong>Microsoft AI4Science</strong>, for a talk on “Scalable Emulation of Protein Equilibrium Ensembles with Generative Deep Learning” (≈ 45 min). Network with peers over free drinks afterwards—doors close by 7:15 pm.",
                    "https://www.meetup.com/bliss-speaker-series/events/306121117/",
                ),
                new Event(
                    new Date("2025-06-03"),
                    "Watermark Anything with Localized Messages",
                    "Join Dr. Pierre Fernandez, Research Scientist at <strong>Meta AI</strong>, exploring invisible image watermarking as a segmentation problem. Free drinks & networking afterwards—doors close by 7:15 pm.",
                    "https://www.meetup.com/bliss-speaker-series/events/306121121/",
                ),
            ]}
        />
        <Ending />
    </main>
</NewsletterLayout>
