---
import Layout from "../layouts/Layout.astro";
import BackgroundAnimation from "../components/BackgroundAnimation.astro";
import TeamComponent from "../components/Team.astro";
---

<Layout
  title="Team - BLISS"
  description="Meet the current team and alumni of BLISS - Berlin Learning & Intelligent Systems Society. Discover the passionate individuals who have contributed to our AI research community."
  ogImage="https://www.bliss.berlin/assets/bliss-banner.png"
>
  <main>
    <BackgroundAnimation />
    <TeamComponent />
  </main>
</Layout>
