---
import Layout from "../layouts/Layout.astro";
import BackgroundAnimation from "../components/BackgroundAnimation.astro";
import TeamComponent from "../components/Team.astro";
---

<Layout
  title="Team"
  description="Meet the current team and alumni of BLISS - Berlin Learning & Intelligent Systems Society. Discover the passionate individuals who have contributed to our AI research community."
>
  <main>
    <BackgroundAnimation />
    <TeamComponent />
  </main>
</Layout>
