---
import { Headline } from "./Headline";
---

<div
    class="flex flex-col flex-wrap justify-center items-end h-screen text-right"
>
    <Headline level={2}>About Us</Headline>
    <p
        class="mt-2 text-1xl font-light leading-snug text-secondary md:text-2xl md:w-1/2"
    >
        Founded in 2022, our student initiative <strong class="text-primary"
            >Berlin Learning & Intelligent Systems Society</strong
        > (BLISS) aims to create a community of students and young professionals
        excited about machine learning and AI. Our vision is to provide an environment
        to deeply engage with AI research while fostering connections to leading
        researchers and industry professionals.
        <br />
        We host many awesome events, including a speaker series, reading groups,
        hackathons and social events. We've always been independent from companies
        and universities and became a registered non-profit organization in 2021.
    </p>
    <p
        class="mt-2 text-1xl font-light leading-snug text-secondary md:text-2xl md:w-1/2"
    >
        You are cordially invited to our events!
    </p>
</div>
