---

---

<div
    class="flex flex-col flex-wrap justify-center items-end h-screen text-right"
>
    <h2
        class="text-4xl sm:text-5xl text-transparent bg-clip-text bg-red-right font-bold"
    >
        About Us
    </h2>
    <p
        class="mt-2 text-1xl font-light leading-snug text-secondary md:text-2xl md:w-1/2"
    >
        Founded in 2020, our student initiative <strong>Berlin Learning & Intelligent Systems
        Society</strong> (BLISS) aims to create a community of students and young
        professionals excited about machine learning and AI. We host a many
        awesome events, including a speaker series, reading groups, hackathons
        and social events. We've always been independent from companies and
        universities, and have become a registered non-profit organization in
        2021.
        <br />
         You are cordially invited to our events!
    </p>
</div>
