---

---

<div
  id="canvasContainer"
  class="fixed top-0 left-0 w-screen h-screen md:fixed -z-10 flex flex-row items-center justify-center"
>
  <canvas id="bgWebglCanvas" aria-hidden="true"></canvas>
</div>

<script>
  import { initBackgroundWebGL } from "../lib/background-webgl";

  const canvas = document.getElementById("bgWebglCanvas") as HTMLCanvasElement;
  initBackgroundWebGL({ canvas });
</script>
