<div class="flex items-center justify-center grow">
    <a
        href="https://lu.ma/7j77q70m"
        class="bg-accent text-lg rounded-lg text-center grow py-4"
    >
        BLISS x Neo4j: Hands-On with GraphRAG
    </a>
</div>

<style>
    .bg-accent {
        background-color: rgba(210, 55, 70, 0.4);
    }
</style>
