<div class="flex items-center justify-center grow">
    <a
        href="https://forms.gle/Mb28V9mvhwza4CHQ8"
        class="bg-accent text-lg rounded-lg text-center grow py-4"
    >
        BLISS Get-To-Know Event
    </a>
</div>

<style>
    .bg-accent {
        background-color: rgba(210, 55, 70, 0.4);
    }
</style>
