<div class="flex items-center justify-center grow">
    <a
        href="https://docs.google.com/forms/d/1GcJXYQ3qhXaxssDu-aa7DLt2P3BTAvJBLkK6f9Q1q1g"
        class="bg-accent text-lg rounded-lg text-center grow py-4"
    >
        FLINTA* x professionals speed dating sign up
    </a>
</div>

<style>
    .bg-accent {
        background-color: rgba(210, 55, 70, 0.4);
    }
</style>
