---
import { Headline } from "./Headline";
import { EventTimeline } from "./events/EventTimeline";
import { getUpcomingEvents } from "./data/events";

const filteredEvents = getUpcomingEvents(5);
---

<div class="relative flex flex-col items-center justify-center py-10 sm:my-10">
  <div id="speaker-series" class="absolute top-1/2 left-0 w-full h-px pointer-events-none opacity-0"></div>
  <Headline level={2} className="mb-10 text-center">Upcoming Events</Headline>

  <div class="w-full max-w-4xl px-4">
    <EventTimeline
      client:load
      events={filteredEvents}
      compact
      showDividers={false}
      emptyMessage="No upcoming events scheduled. Stay tuned!"
    />
  </div>
</div>
