---

---

<div class="flex items-center flex-wrap justify-center">
    <div class="my-20 sm:my-40text-center w-1/2">
        <h2
            class="text-4xl sm:text-5xl text-transparent bg-clip-text bg-red-right font-bold"
        >
            FLINTA* Event
        </h2>
        <div class="mb-10">
            Calling all Berlin FLINTA* students to join our AI FLINTA* students
            x professionals “Speed dating” event!
            <br />
             You'll have a chance to interact closely with various FLINTA* AI/ML
            professionals, whose professional and life journeys may inspire you
            and give you some fresh perspective on questions you may have about
            the field and how to be successful in it as a FLINTA* person.
        </div>
        <div class="mt-6 text-center">
            <a
                href="https://forms.gle/sY96Sv1aKqE6a5ww5"
                class="p-3 px-12 bg-accent text-gray-300 rounded-md px-2 text-lg hover:bg-gray-200 hover:text-gray-700 sm:text-xl text-center duration-300"
                >Apply Now!</a
            >
        </div>
    </div>
</div>
