---
---

<div
  id="footer"
  class="w-full pt-16 pb-10 font-light leading-relaxed text-secondary"
>
  <div class="container text-center">
    <p class="font-extralight">
      Say Hello
      <a href="mailto:mail@bliss.berlin" class="font-medium text-primary"
        >mail@bliss.berlin</a
      >.
    </p>
    <p class="font-extralight">
      Get to know us at our 
      <a href="https://forms.gle/Mb28V9mvhwza4CHQ8 " class="font-medium text-primary"
        > next contributor event</a
      >.
    </p>
    <p class="font-extralight mt-5">
      <a
        href="https://www.linkedin.com/company/bliss-berlin/"
        target="_blank"
        class="font-medium text-primary pr-4"
        ><img
          src="assets/linkedin.svg"
          alt="LinkedIn"
          class="h-[40px] w-[40px] inline-block bg-white rounded"
        /></a
      >

      <a
        href="https://join.slack.com/t/blissberlin/shared_invite/zt-25ozmz3u8-DpNkQXP7UOEPPZbppSX~VA"
        target="_blank"
        class="font-medium text-primary pr-4"
      >
        <img
          src="assets/slack.svg"
          alt="Slack"
          class="h-[40px] w-[40px] inline-block"
        />
      </a>

      <a
        href="https://www.youtube.com/@bliss.ev.berlin"
        target="_blank"
        class="font-medium text-primary"
      >
        <img
          src="assets/youtube.svg"
          alt="Youtube"
          class="h-[40px] w-[40px] inline-block"
        />
      </a>
    </p>
    <p id="copyright" class="mt-5 text-sm text-tertiary font-extralight">
      &copy; Bliss e.V., 2024
    </p>
  </div>
</div>

<script>
  const copyright = document.getElementById("copyright")!;

  copyright.innerHTML = `&copy; Bliss e.V., ${new Date().getFullYear()}`;
</script>
