---
// No props needed
---

<div class="mb-10">
  <div>Welcome to the Media section. Here you will find various media items related to our activities.</div>
  <div>Below you will find the list of media items organized by season. Click on a season to expand it and explore the events.</div>
  <div class="mt-2 text-sm text-gray-400 flex items-center">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1" />
    </svg>
    <span>Pro tip: Click the link icon on any event to copy a direct link for sharing.</span>
  </div>
</div>
