---
import { Image } from "astro:assets";
import { Member } from "./data/members.ts";

const { member } = Astro.props as { member: Member };
---

<div class="flex flex-col items-center justify-center w-24 m-4">
    <Image
        src={member.image}
        alt={member.name}
        quality="mid"
        width={200}
        height={200}
        loading="lazy"
        decoding="async"
        class="rounded-full h-24 w-24 shadow-inner"
    />
    <div class="text-center no-underline mt-2 text-secondary">
        {member.name}
        <br />
        {member.surname}
    </div>
</div>
