---
import { Headline } from "@components/Headline";
import Partner from "@components/Partner.astro";
import BigButton from "./BigButton";

class PartnerImg {
    constructor(
        public src: ImageMetadata,
        public alt: string,
        public url: string,
    ) {}
}

// import kiezImg from "../images/logos/kiez-w.png";
import googleImg from "../images/logos/google-white.png";
import siliconAlleeImg from "../images/logos/silicon-allee-logo.png";
import quantCoImg from "../images/logos/quantco.png";
import kiParkImg from "../images/logos/kipark.png";
import bifoldImg from "../images/logos/bifold.png";
import onethousandImg from "../images/logos/onethousand.png";


const partners = [
    // new PartnerImg(kiezImg, "Kiez", "https://kiez.ai/"),
    new PartnerImg(googleImg, "Google", "https://www.google.com/"),
    new PartnerImg(siliconAlleeImg, "Silicon Allee", "https://www.siliconallee.com/"),
    new PartnerImg(kiParkImg, "KI Park", "https://kipark.de/"),
    new PartnerImg(bifoldImg, "Bifold", "https://www.bifold.berlin/"),
    new PartnerImg(quantCoImg, "QuantCo", "https://www.quantco.com/"),
    new PartnerImg(onethousandImg, "One Thousand", "https://onethousand.ai/"),
];
---

<div id="Partners" class="pt-32">
    <Headline level={1}>Partners</Headline>

    <p class="max-w-full md:max-w-[50%] mt-4">
        We frequenty coorperate with our partners granting them access to a
        large community of AI talents while using the given recources to
        increase the quality of our events.
    </p>

    <BigButton hover={true} className="mt-4">
        <a class="no-underline min-w-fit" href="mailto:partners@bliss.berlin">
            Become a Partner
        </a>
    </BigButton>

    <div class="mt-6 flex flex-wrap align-center max-w-full md:max-w-[75%]">
        {
            partners.map((partner) => (
                <Partner
                    src={partner.src}
                    alt={partner.alt}
                    url={partner.url}
                />
            ))
        }
    </div>
</div>
