---
import { Headline } from "@components/Headline";
import Partner from "@components/Partner.astro";
import BigButton from "./BigButton";

class PartnerImg {
    constructor(
        public src: ImageMetadata,
        public alt: string,
    ) {}
}

import kiezImg from "../images/partners/kiez-w.png";
import googleImg from "../images/partners/google-white.png";
import siliconAlleeImg from "../images/partners/silicon-allee-logo.png";
import quantCoImg from "../images/partners/quantco.png";
import kiParkImg from "../images/partners/kipark.png";
import bifoldImg from "../images/partners/bifold.png";

const partners = [
    new PartnerImg(kiezImg, "Kiez"),
    new PartnerImg(googleImg, "Google"),
    new PartnerImg(siliconAlleeImg, "Silicon Allee"),
    new PartnerImg(quantCoImg, "QuantCo"),
    new PartnerImg(kiParkImg, "KI Park"),
    new PartnerImg(bifoldImg, "Bifold"),
];
---

<div id="Partners" class="pt-32">
    <Headline level={1}>Partners</Headline>

    <p class="max-w-[50%] mt-4">
        We frequenty coorperate with our partners granting them access to a
        large community of AI talents while using the given recources to
        increase the quality of our events.
    </p>

    <BigButton hover={true} className="mt-4">
        <a class="no-underline" href="mailto:partners@bliss.berlin"
            >Become a Partner</a
        >
    </BigButton>

    <div class="mt-6 flex flex-wrap align-center max-w-[75%]">
        {
            partners.map((partner) => (
                <Partner src={partner.src} alt={partner.alt} />
            ))
        }
    </div>
</div>
